/*Les polices*/
/*Récupérer cette propriété sur Google fonts : https://fonts.google.com/*/
h1, h2, h3, h4, h5, h6, i {font-family: 'Zilla Slab', serif; }
p { font-family: 'Zilla Slab'; }

/*La couleur dominante*/
.circle, .navbar, .frame { border-color: #CBEFFF; }
h1, h2, h3, h4, h5, h6, i, .item { color: CBEFFF; }

/*Le fond de couleur*/
/*Récupérer ces propriétés sur Ui Gradients: https://uigradients.com*/
.bg-color {
  background: #CBEFFF;
  background: -webkit-linear-gradient(to right, #CBEFFF, #CBEFFF);
  background: linear-gradient(to right, #CBEFFF, #CBEFFF);
}
